<h1 class="phpdocumentor-title"><a href="{{ path('/') }}" class="phpdocumentor-title__link">{{ project.name }}</a></h1>
<div style="margin:1rem;">Find us on GitHub: <a href="https://github.com/jj5/kickass-crypto">https://github.com/jj5/kickass-crypto</a>.</div>